
body
{
	text-align: center;
	background: black;
}

h2
{
	color: limegreen;
}

h1
{

	color: blueviolet;
	text-align: center;
}
div
{
	border-radius: 26px;
    margin-left: 50%;
    margin-left: 36%;
	border: solid blueviolet;
	width: 500px;
	height: 200px;
	padding: 15px 15px;
}
button
{
	
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 26px;
margin-top: 5px;
padding: 7px 7px;
background-color: limegreen;
}
input
{
	color: white;
	text-align: center;
	background-color: black;
	border-radius: 26px;
	border-color: blueviolet;
	padding: 7px 10px;
}
button:hover
{
	background-color: limegreen;
	color: white;
	transform: skew(10deg);
	cursor: pointer;

}
